<div class="container">

    <!-- HEADER -->
    <div class="jumbotron text-center">
        <h1>Tracking System</h1>
    </div>

    <!-- BODY -->
    <div class="well well-md">
        <form class="form" name="trackingForm" ng-submit="track(trackingForm)">
            <form>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group">
                            <label for="trackingNumber">Tracking Number</label>
                            <input type="text" class="form-control" id="trackingNumber" placeholder="Tracking number" ng-model="trackingNumber">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group">
                            <label for="shippingCompany">Shipping Company</label>
                            <select class="form-control" id="shippingCompany" ng-options="carrier as carrier.name for carrier in availableCarriers" ng-model="carrier"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <div class="form-group">
                            <button class="btn btn-primary">Track</button>
                        </div>
                    </div>
                </div>
            </form>
        </form>
    </div>
</div>